@model BarAndCoctailInListViewModel

@{
    ViewData["Title"] = "All you need is love and cocktails!";
}
@{ var statusMessage = TempData["Status"]?.ToString(); }
@if (!string.IsNullOrWhiteSpace(statusMessage))
{

    <div class="alert alert-danger  ">
        @statusMessage
    </div>
}
<div class="home-page-image">
    <img id="home-page-img" src="~/images/Cheers.jpg" />


    <h3 class="under-centered">
        All you need is love and cocktails!
    </h3>
</div>
<div class="site-section">
    <hr class="pb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">

                <p class="homepage-text">
                    Our Top Rated Cocktails
                </p>
                <p>
                    <a id="home-page-a" asp-area="Distribution" asp-controller="Cocktails" asp-action="Index">
                        View All Cocktails
                        <span class="icon-long-arrow-right">
                        </span>
                    </a>
                </p>
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="cocktail-information">
                            <a asp-area="Distribution" asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.ListOfCocktails[0].Id">
                                <img class="d-block home-carousel-img" src="@Model.ListOfCocktails[0].ImagePath">
                            </a>
                            <div class="cocktail-homepage">
                                <div class="cocktail-title text-center">
                                    <h3 class="font-cinzel">@Model.ListOfCocktails[0].Name</h3>
                                </div>
                                <div class="rating ">
                                    <span class="yellow-color">
                                        @if (Model.ListOfCocktails[0].AverageRating != null)
                                        {
                                            for (int i = 1; i <= Model.ListOfCocktails[0].AverageRating; i++)
                                            {
                                                <span class="icon-star"></span>
                                            }
                                            for (int i = 5; i > Model.ListOfCocktails[0].AverageRating; i--)
                                            {
                                                <span class="icon-star-o"></span>
                                            }
                                        }
                                    </span>
                                    @String.Format("{0:0.0}", Model.ListOfCocktails[0].AverageRating)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cocktail-information">
                            <a asp-area="Distribution" asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.ListOfCocktails[1].Id">
                                <img class="d-block home-carousel-img" src="@Model.ListOfCocktails[1].ImagePath">
                            </a>
                            <div class="cocktail-homepage">
                                <div class="cocktail-title text-center">
                                    <h3 class="font-cinzel color-white">@Model.ListOfCocktails[1].Name</h3>
                                </div>
                                <div class="rating ">
                                    <span class="yellow-color">
                                        @if (Model.ListOfCocktails[1].AverageRating != null)
                                        {
                                            for (int i = 1; i <= Model.ListOfCocktails[1].AverageRating; i++)
                                            {
                                                <span class="icon-star"></span>
                                            }
                                            for (int i = 5; i > Model.ListOfCocktails[1].AverageRating; i--)
                                            {
                                                <span class="icon-star-o"></span>
                                            }
                                        }
                                    </span>
                                    @String.Format("{0:0.0}", Model.ListOfCocktails[1].AverageRating)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cocktail-information">
                            <a asp-area="Distribution" asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.ListOfCocktails[2].Id">
                                <img class="d-block home-carousel-img" src="@Model.ListOfCocktails[2].ImagePath">
                            </a>
                            <div class="cocktail-homepage">
                                <div class="cocktail-title text-center">
                                    <h3 class="font-cinzel color-white">@Model.ListOfCocktails[2].Name</h3>
                                </div>
                                <div class="rating ">
                                    <span class="yellow-color">
                                        @if (Model.ListOfCocktails[2].AverageRating != null)
                                        {
                                            for (int i = 1; i <= Model.ListOfCocktails[2].AverageRating; i++)
                                            {
                                                <span class="icon-star"></span>
                                            }
                                            for (int i = 5; i > Model.ListOfCocktails[2].AverageRating; i--)
                                            {
                                                <span class="icon-star-o"></span>
                                            }
                                        }
                                    </span>
                                    @String.Format("{0:0.0}", Model.ListOfCocktails[2].AverageRating)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="homepage-text">
    Our Top Rated Bars
</p>

<p id="p-on-center">
    <a id="home-page-a" asp-area="Distribution" asp-controller="Bars" asp-action="Index">
        View All Bars
        <span class="icon-long-arrow-right">
        </span>
    </a>
</p>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <a asp-area="Distribution" asp-controller="Bars" asp-action="Details" asp-route-id="@Model.ListOfBars[0].Id">
                    <img class="d-block home-carousel-img" src="@Model.ListOfBars[0].ImagePath">
                </a>
                <div class="carousel-caption">
                    <h3 class="font-cinzel color-white">@Model.ListOfBars[0].Name</h3>
                    <p>
                        <span class="yellow-color">
                            @for (int i = 1; i <= Model.ListOfBars[0].AverageRating; i++)
                            {
                                <span class="icon-star"></span>
                            }
                            @for (int i = 5; i > Model.ListOfBars[0].AverageRating; i--)
                            {
                                <span class="icon-star-o"></span>
                            }
                        </span>
                        @String.Format("{0:0.0}", Model.ListOfBars[0].AverageRating)
                    </p>
                </div>
            </div>
            @foreach (var item in Model.ListOfBars.Skip(1))
            {
                <div class="carousel-item" align="center">
                    <a asp-area="Distribution" asp-controller="Bars" asp-action="Details" asp-route-id="@item.Id">
                        <img class="d-block home-carousel-img" src="@item.ImagePath">
                    </a>
                    <div class="carousel-caption">
                        <h3 class="font-cinzel color-white">@item.Name</h3>
                        <p>
                            <span class="yellow-color">
                                @for (int i = 1; i <= item.AverageRating; i++)
                                {
                                    <span class="icon-star"></span>
                                }
                                @for (int i = 5; i > item.AverageRating; i--)
                                {
                                    <span class="icon-star-o"></span>
                                }
                            </span>
                            @String.Format("{0:0.0}", item.AverageRating)
                        </p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>