@model ICollection<BarInListViewModel>

@{
    ViewData["Title"] = "Home Page";
}
@{ var statusMessage = TempData["Status"]?.ToString(); }
@if (!string.IsNullOrWhiteSpace(statusMessage))
{

    <div class="alert alert-danger  ">
        @statusMessage
    </div>
}

<p id="homepage-text"> Top Rated Bars</p>

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <a href="">
                    <img class="d-block home-carousel-img" src="@Model.First().ImageURL">
                </a>
                <div class="carousel-caption">
                    <h3 class="font-cinzel">@Model.First().Name</h3>
                    <p>
                        <span class="yellow-color">
                            @for (int i = 1; i <= Model.First().AverageRating; i++)
                            {
                                <span class="icon-star"></span>
                            }
                            @for (int i = 5; i > Model.First().AverageRating; i--)
                            {
                                <span class="icon-star-o"></span>
                            }
                        </span>
                        @String.Format("{0:0.0}", Model.First().AverageRating)
                    </p>
                </div>
            </div>
            @foreach (var item in Model.Skip(1))
            {
                <div class="carousel-item" align="center">
                    <img class="d-block home-carousel-img" src="@item.ImageURL">
                    <div class="carousel-caption">
                        <h3 class="font-cinzel">@item.Name</h3>
                        <p>
                            <span class="yellow-color">
                                @for (int i = 1; i <= item.AverageRating; i++)
                                {
                                    <span class="icon-star"></span>
                                }
                                @for (int i = 5; i > item.AverageRating; i--)
                                {
                                    <span class="icon-star-o"></span>
                                }
                            </span>
                            @String.Format("{0:0.0}", item.AverageRating)
                        </p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>