@model AddCocktailViewModel
@{
    ViewData["Title"] = "Add Cocktail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <h2 class="font-cinzel"><span class="icon-add"></span>Add Cocktail</h2>
</div>
@{ var statusMessage = TempData["Status"]?.ToString(); }
@if (!string.IsNullOrWhiteSpace(statusMessage))
{

    <div class="alert alert-danger  ">
        @statusMessage
    </div>
}

<div>
    <span asp-validation-summary="All" class="text-danger" />
</div>
<hr class="hr-primary" />
@if ((Model?.IngredientsQuantity?.Count() ?? 0) == 0)
{
    <div class="row">
        <div class="col-md-6">
            <form asp-action="/Distribution/Cocktails/Add" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-2">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger" />
                </div>
                <div class="form-group m-2">
                    <label>Ingredients</label>
                    <select multiple="multiple" class="multiple-select2 input-group input-group-lg" asp-for="@Model.CocktilIngredients" asp-items="@Model.AllIngredients " id="list-of-ingredients" width="100">
                    </select>
                    <span asp-validation-for="@Model.CocktilIngredients" class="text-danger" />
                </div>
                <div class="m-4" align="right">
                    <input type="submit" value="Continue" class="btn btn-pink" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            @{string message = TempData["Message"]?.ToString();}
            <div class="text-danger">@message</div>
            <div class="text-link" id="load-add-ingredient-form">Add ingredient to menu</div>
            <div style="display:none" id="ingrediens-div">
                <div class="m-4">
                    <div>
                        Name:
                        <input type="text" class=" form-control" id="ingredient-name" />
                    </div>
                    <div>
                        Unit:
                        <input type="text" class=" form-control" id="ingredient-unit" />
                    </div>
                    @{
                        TempData["Action"] = "Add";
                    }

                </div>
                <button class="btn btn-pink" id="ingrediens-to-db">Add new ingredient</button>
            </div>
        </div>
    </div>

}
else
{
    <div class="col-md-7" align="center">
        <h2 class="font-cinzel m-4">@Model.Name</h2>
        <h5>
            Please enter ingrediens quantites:
        </h5>
        <div class="p-5">

            <form asp-action="/Distribution/Cocktails/Add" enctype="multipart/form-data">
                <div class="form-group m-2">
                    <label asp-for="@Model.Image" class="control-label"></label>
                    <input type="file" asp-for="@Model.Image" class="form-control" />
                    <span asp-validation-for="@Model.Image" class="text-danger" />
                </div>

                @for (int i = 0; i < Model.IngredientsQuantity.Count(); ++i)
                {
                    <div class="form-row m-2">

                        @Html.HiddenFor(m => m.IngredientsQuantity[i].Name)

                        <label asp-for="@Model.IngredientsQuantity[i].Name" class="control-label col-md-6" align="right">@Model.IngredientsQuantity[i].Name:</label>
                        <input type="text" asp-for="@Model.IngredientsQuantity[i].Value" class="form-control col-md-4" maxlength="20" />
                    </div>
                    <span asp-validation-for="@Model.IngredientsQuantity[i].Value" class="text-danger"></span>

                }
                <div class="m-4">
                    <input type="submit" value="Add Cocktail" class="btn btn-pink" />
                </div>
            </form>
        </div>
    </div>

}


