@model CocktailDetailsViewModel
@{
    ViewData["Title"] = " Cocktail details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-6">
        <img class="details-image" src="@Model.ImageURL" alt="Card image cap">
    </div>
    <div class="col-md-6">
        <h3>@Model.Name</h3>
        @if (User.IsInRole("admin"))
        {
            <h5>Recipe: </h5>
            @foreach (var ingr in Model.Ingredients)
            {
                <div> @ingr.Value @ingr.Unit    @ingr.Name</div>
            }
        }
        else
        {
            <div>Ingredients: @Model.ListedIngredients </div>
        }
        @if(Model.Bars != null)
        {
            <h3>Bars:</h3>
            @foreach(var bar in Model.Bars)
            {
                <div class="row">
                    <div class="col-2">
                        <img src=@bar.ImageURL height="50" />
                    </div>
                    <div class="col">
                        <a asp-controller="Bars" asp-action="Details" asp-route-id="@bar.Id">@bar.Name</a>
                        <div>@bar.Address, @bar.City</div>
                    </div>
                </div>
            }
        }
        @if(User.IsInRole("admin"))
        {
            <a asp-action="AddBars" asp-controller="Cocktails" asp-route-id="@Model.Id">Add bar</a>
        }
    </div>
</div>

