@model CocktailDetailsViewModel
@{
    ViewData["Title"] = " Cocktail details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-5" align="center">
        <div>
            <img class="details-image img-fluid" src="@Model.ImageURL" alt="Card image cap">
        </div>
    </div>
    <div class="col-md-7">
        <div align="center">

            <h2 class="font-cinzel">@Model.Name</h2>
            <div class="container m-4">
                <div class="recepie-container">

                    @if (User.IsInRole("admin"))
                    {<div class="btn-group mb-3">
                            <button type="button" class="btn btn-pink" data-toggle="modal" data-target="#exampleModal">
                                Delete cokctail
                            </button>

                            <!-- Modal -->
                            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-cinzel" id="exampleModalLabel">Delete Cocktail</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div>Are you sure you want to delete @Model.Name cocktail?</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form asp-controller="Cocktails" asp-action="Delete" asp-route-id="@Model.Id">
                                                <button type="submit" class="btn btn-pink">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="btn btn-pink" asp-action="EditIngredients" asp-controller="Cocktails" asp-route-id="@Model.Id">Edit Ingredients</a>
                            <a class="btn btn-pink" asp-action="EditBars" asp-controller="Cocktails" asp-route-id="@Model.Id">Edit bars</a>
                        </div>
                        <h5>Recipe: </h5>
                        @foreach (var ingr in Model.Ingredients)
                        {
                            <div> @ingr.Value @ingr.Unit    @ingr.Name</div>
                        }
                        @*<a asp-action="EditIngredients" asp-controller="Cocktails" asp-route-id="@Model.Id">Edit Ingredients</a>*@

                    }
                    else
                    {
                        <h5>Ingredients:</h5>
                        <div> @Model.ListedIngredients </div>
                    }

                </div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="text-link" data-toggle="modal" data-target=".reviewModal">Add Review</div>

                <div class="modal fade reviewModal" id="bar-review-modal" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-cinzel" id="exampleModalCenteredLabel">Give us your opinion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <partial name="_Review" />
                            <input type="hidden" id="userName" value="@User.Identity.Name" />
                            <input type="hidden" id="cocktailId" value="@Model.Id" />
                            <div class="modal-footer">
                                <button class="btn btn-pink" id="cocktail-review" data-dismiss="modal">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="center">
                <div class="m-4">
                    <div class="bars-scroll-frame pt-0">
                        <div class="row mb-4">
                            <div class="col-sm-6" id="show-bars">
                                Show bars
                            </div>
                            <div class="col-sm-6" id="show-reviews">
                                Show reviews
                            </div>

                        </div>
                        <div class="scroll">
                            <div id="bars-content">
                                @if (Model.Bars != null && Model.Bars?.Count() != 0)
                                {
                                    @foreach (var bar in Model.Bars)
                                    {
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src=@bar.ImagePath height="70" />
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="p-2" align="center">
                                                        <a class="font-cinzel font-size-15 pink-color" asp-controller="Bars" asp-action="Details" asp-route-id="@bar.Id">@bar.Name</a>
                                                        <div>@bar.Address, @bar.City</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                }
                                else
                                {
                                    <div>Coming soon...</div>
                                }
                            </div>
                            <div class="display-none" id="review-content">
                                @if (Model.CocktailReviews != null && Model.CocktailReviews?.Count() != 0)
                                {
                                    @foreach (var cocktail in Model.CocktailReviews)
                                    {
                                        <partial name="_ReviewPartial" model="@cocktail" />
                                    }
                                }
                                else
                                {
                                    <div id="no-review">Be firts to leave a review!</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




