@model AddBarViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row m-4">
    <label asp-for="@Model.Name" class="control-label col-md-3 pr-2" align="right"></label>
    <input asp-for="@Model.Name" class="form-control col-md-8" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.Image" class="control-label col-md-3 pr-2" align="right"></label>
    <input type="file" asp-for="@Model.Image" class="form-control col-md-8" />
    <span asp-validation-for="@Model.Image" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.PhoneNumber" class="control-label col-md-3 pr-2" align="right"></label>
    <input asp-for="@Model.PhoneNumber" class="form-control col-md-8" />
    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.Address.Address" class="control-label col-md-3 pr-2" align="right"></label>
    <input asp-for="@Model.Address.Address" class="form-control col-md-8" />
    <span asp-validation-for="@Model.Address.Address" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.Address.Latitude" class="control-label col-md-3 pr-2" align="right"></label>
    <input asp-for="@Model.Address.Latitude" class="form-control col-md-8" />
    <span asp-validation-for="@Model.Address.Latitude" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.Address.Longitude" class="control-label col-md-3 pr-2" align="right"></label>
    <input asp-for="@Model.Address.Longitude" class="form-control col-md-8" />
    <span asp-validation-for="@Model.Address.Longitude" class="text-danger"></span>
</div>
<div class="form-row m-4">
    <label asp-for="@Model.Address.CityId" class="control-label col-md-3 pr-2" align="right">City</label>
    <select asp-for="@Model.Address.CityId" asp-items="@Model.AllCities" class="form-control col-md-8" id="list-of-cities">
        <option hidden disabled selected="">Select...</option>
    </select>
    @*<span asp-validation-for="@Model.Address.CityId" class="text-danger"></span>*@
</div>

