@model BarInListViewModel


<div class="col-md-4 " align="center">
    <div class="margin-bar-card shadow">
        <h5 class="card-title">@Model.Name</h5>
        <img class="card-img-top image-bar-index" src="@Model.ImageURL" alt="Card image cap">
        <div class="card-body">
            <p>
                Address: @Model.Address, @Model.City
            </p>
            @if (Model.AverageRating != null)
            {
                <span>Rating: &#11088;</span>
                @String.Format("{0:0.0}", Model.AverageRating)
                <br />
            }
            <p>
                <a asp-controller="Bars" asp-action="Details" asp-route-id="@Model.Id"> More info</a>
            </p>
        </div>
    </div>
</div>
