@model AddBarViewModel
@{
    ViewData["Title"] = "Add Bar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add'Bar</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="/Distribution/Bars/Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.ImageURL" class="control-label"></label>
                <input asp-for="@Model.ImageURL" class="form-control" />
                <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Address.Address" class="control-label"></label>
                <input asp-for="@Model.Address.Address" class="form-control" />
                <span asp-validation-for="@Model.Address.Address" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Address.Latitude" class="control-label"></label>
                <input asp-for="@Model.Address.Latitude" class="form-control" />
                <span asp-validation-for="@Model.Address.Latitude" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Address.Longitude" class="control-label"></label>
                <input asp-for="@Model.Address.Longitude" class="form-control" />
                <span asp-validation-for="@Model.Address.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>City</label>
                <select asp-for="@Model.Address.CityId" asp-items="@Model.AllCities" class="form-control" id="list-of-cities">
                    <option hidden disabled selected="">Select...</option>
                </select>
            </div>
            <button class="btn btn-link" id="load-add-city-form">Add City</button>
            <input type="submit" class="btn btn-light" />
        </form>
    </div>
    <div class="col-md-6">
        <div style="display:none" id="city-div">
            <div class="m-4">
                <div>
                    City Name:
                    <input type="text" name="cityName" class=" form-control" id="city-name" />
                </div>
            </div>
            <button class="btn btn-light" id="city-to-db">Add new city</button>
        </div>
    </div>
</div>



