@model BarDetailsViewModel
@{
    ViewData["Title"] = " Cocktail details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div align="center">
    <div>
        <h1 class="font-cinzel mb-2">@Model.Name</h1>
    </div>
    @*<hr class="hr-primary" />*@
    <div class="container">
        <img class="details-bar-image m-1 shadow" src="@Model.ImageURL" alt="Card image cap" />
        @if (User.IsInRole("admin"))
        {
            <div align="center">
                <div class="btn-group">
                    <a asp-action="Edit" asp-controller="Bars" asp-route-id="@Model.Id" class="btn btn-pink">Edit Bar</a>
                    <a asp-action="EditCocktails" asp-controller="Bars" asp-route-id="@Model.Id" class="btn btn-pink">Edit cocktails</a>
                    <button type="button" class="btn btn-pink" data-toggle="modal" data-target="#deteleBarModal">Delete Bar</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deteleBarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-cinzel" id="exampleModalLabel">Delete Bar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>Are you sure you want to delete @Model.Name cocktail?</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form asp-controller="Bars" asp-action="Delete" asp-route-id="@Model.Id">
                                        <button type="submit" class="btn btn-pink">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        }

    </div>
</div>
<div class="m-4" align="center">
    @if (Model.AverageRating != null)
    {
        <div>
            Rating:
            <span class="yellow-color">
                @if (Model.AverageRating != null)
                {
                    for (int i = 1; i <= Model.AverageRating; i++)
                    {
                        <span class="icon-star"></span>
                    }
                    for (int i = 5; i > Model.AverageRating; i--)
                    {
                        <span class="icon-star-o"></span>
                    }
                }
            </span>
            @String.Format("{0:0.0}", Model.AverageRating)
        </div>
    }
    else
    {
        <div>No reviews yet!</div>
    }
    <a class="text-link" asp-action="BarReview" asp-route-id="@Model.Id">Add Review</a>
    @if (Model.BarReviews.Count() != 0)
    {
        <button class="btn btn-pink ml-2" data-toggle="modal" data-target="#exampleModalScrollable">Show reviews</button>
    }


    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredLabel">Customer's rewies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var bar in Model.BarReviews)
                    {
                        <div class="margin-container">
                            <partial name="_BarReviewPartial" model="@bar" />
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hr-primary" />
<div align="center">
    <div class="row m-3 justify-content-center">
        <div class="col-md-4">
            <h4 class="font-cinzel">Contact info:</h4>
            <div class="m-4">
                <div>
                    <span class="icon-address-book mr-2"></span>Address:
                    <span class="ml-2">
                        @Model.Address.Address, @Model.Address.CityName
                    </span>
                </div>
                <div>
                    <span class="icon-phone mr-2"></span>Phone: @Model.PhoneNumber
                </div>
            </div>

            <button class="btn btn-pink m-4" data-toggle="modal" data-target=".bd-example-modal-lg">
                Show on map
            </button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                        <div id="googleMap" style="height:400px;width:100%;"></div>
                        <script>
                        function myMap() {
                            var myCenter = new google.maps.LatLng(@Model.Address.Latitude, @Model.Address.Longitude);
                            var mapProp = { center: myCenter, zoom: 15, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                            var marker = new google.maps.Marker({ position: myCenter });
                            marker.setMap(map);
                        }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJnXpMOme8MhBjx57-7R5o1JsqDCnHJ-g&callback=myMap"></script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 justify-content-conter">
            <h4 class="font-cinzel">Cocktails in this bar</h4>
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>

                    @for (int i = 1; i < Model.Cocktails.Count() / 4 + 1; i++)
                    {
                        <li data-target="#demo" data-slide-to="@i" class="active"></li>

                    }
                </ul>

                <!-- The slideshow -->
                <div class="container carousel-inner no-padding">
                    <div class="carousel-item active">
                        @foreach (var cocktail in Model.Cocktails.Take(4))
                        {
                            <div class="col-xs-3 col-sm-3 col-md-3" align="center">
                                <img src="@cocktail.ImageURL" class="image-cocktail-carousel shadow img-fluid" />
                                <a href="\Distribution\Cocktails\Details\@cocktail.Id" class="font-cinzel">@cocktail.Name</a>
                            </div>
                        }
                    </div>
                    @{
                        var skipCounter = 0;
                        var allCocktails = Model.Cocktails.Count();
                    }
                    @while (++skipCounter < allCocktails / 4.0)
                    {
                        <div class="carousel-item">
                            @foreach (var cocktail in Model.Cocktails.Skip(skipCounter * 4).Take(4))
                            {
                                <div class="col-xs-3 col-sm-3 col-md-3" align="center">
                                    <img src="@cocktail.ImageURL" class="image-cocktail-carousel shadow" />
                                    <a href="\Distribution\Cocktails\Details\@cocktail.Id" class="font-cinzel"><b>@cocktail.Name</b></a>
                                </div>
                            }
                        </div>

                    }
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="icon-angle-left carousel-arrows" ></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="icon-angle-right carousel-arrows"></span>
                </a>
            </div>
        </div>
    </div>
</div>





