@model BarDetailsViewModel
@{
    ViewData["Title"] = " Cocktail details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row" >
    <div class="col-md-8">
        <div align="right">
            <img class="details-bar-image" src="@Model.ImageURL" alt="Card image cap" />
        </div>
    </div>
    <div class="col-md-4" align="center">

        <h3 class="m-4">@Model.Name</h3>
        @if (User.IsInRole("admin"))
        {
            <div class="btn-group btn-group">
                <a asp-action="Edit" asp-controller="Bars" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deteleBarModal">Delete</button>
            </div>
        }
        <div class="modal" id="deteleBarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>Are you sure you want to delete @Model.Name bar?</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form asp-controller="Bars" asp-action="Delete" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-4">
            <div>
                <strong>Address:</strong>
            </div>
            <div>
                @Model.Address.Address, @Model.Address.CityName
            </div>
            <div>
                Map
            </div>
        </div>
        <hr />
        <div class="m-4">
            <div class="cocktails-scroll-frame">
                @if (Model.Cocktails != null && Model.Cocktails?.Count() != 0)
                {
                    <h5>Cocktails:</h5>
                    @foreach (var cocktail in Model.Cocktails)
                    {
                        <div class="m-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src=@cocktail.ImageURL height="50" />
                                </div>
                                <div class="col-sm-8">
                                    <div class="p-2" align="left">
                                        <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">@cocktail.Name</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div>
            @if (User.IsInRole("admin"))
            {
                <a asp-action="EditCocktails" asp-controller="Bars" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit cocktails</a>
            }
        </div>
        <a asp-action="BarReview" asp-route-id="@Model.Id">Add Review</a>
    </div>
</div>




