@model EditCocktailsViewModel
@{
    ViewData["Title"] = " Cocktail details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-xl-6 col-md-12" align="center">
            <div>
                <img class="edit-bar-image mt-4" src="@Model.ImagePath" alt="Card image cap">
            </div>
        </div>

        <div class="col-xl-6 col-md-12 pl-3" align="center">
            <h2 class="font-cinzel m-4">@Model.BarName</h2>
            <h5 class="font-cinzel p-4">Edit bar information</h5>
            <form asp-action="EditCocktails" asp-controller="Bars">
                <div class="m-4" align="left">
                    <label asp-for="@Model.CocktailsToAdd" class="control-label">Select new cocktails to add:</label>
                    <select multiple="multiple" class="multiple-select2 input-group input-group-lg" asp-for="@Model.CocktailsToAdd" asp-items="@Model.NotPresentCocktails" size="5">
                    </select>
                </div>
                <div class="m-4" align="left">
                    <label asp-for="@Model.CocktailsToRemove" class="control-label">Select cocktails to remove:</label>
                    <select multiple="multiple" class="multiple-select2 input-group input-group-lg" asp-for="@Model.CocktailsToRemove" asp-items="@Model.PresentCocktails" size="5">
                    </select>
                </div>
                <div class="m-4" align="right">
                    <input type="submit" value="Edit Cocktails" class="btn btn-pink" />
                </div>
            </form>
        </div>
    </div>

