@model BarSearchViewModel
@{
    ViewData["Title"] = "Search Bar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Search</h1>
<div>
    <form asp-action="/Distribution/Bars/Search" method="get">
        <div>
            <label asp-for="@Model.NameKey" class="control-label">Name:</label>
            <input asp-for="@Model.NameKey" class="form-control" />
            <span asp-validation-for="@Model.NameKey" class="text-danger"></span>
        </div>
        <div>
            @*<input type="radio" asp-for="@Model.MinRating" id="rating-0" value="0" checked/>
            <label for="rating-0">No rating</label><br />
            <input type="radio" asp-for="@Model.MinRating" id="rating-1" value="1" />
            <label for="rating-1">1<span>&#11088;</span></label><br />
            <input type="radio" asp-for="@Model.MinRating" id="rating-2" value="2" />
            <label for="rating-2">3<span>&#11088;</span></label><br />*@
            <input type="radio" asp-for="@Model.MinRating" id="rating-3" value="3" />
            <label for="rating-3">3<span>&#11088;</span></label><br />
            <input type="radio" asp-for="@Model.MinRating" id="rating-4" value="4" />
            <label for="rating-4">4<span>&#11088;</span></label><br />
            <input type="radio" asp-for="@Model.MinRating" id="rating-5" value="5" />
            <label for="rating-5">5<span>&#11088;</span></label><br />
        </div>
        <select asp-for="@Model.CityId" asp-items="@Model.AllCities" class="form-control" id="list-of-cities">
            @*<option value="">Select...</option>*@
        </select>
        <input type="submit" class="btn btn-outline-info" />
    </form>
</div>
<hr />
<div class="container">
    @if (Model.Result != null)
    {
        <div class="row">
            @foreach (var bar in Model.Result)
            {
                <partial name="_BarRow" model="@bar" />
            }
        </div>
    }
</div>

